/* font-family: 'Abel', sans-serif;   */
/* color     
HEX: #BCCAD6 blue gray
HEX: #8D9DB6 gray
HEX: #667292 dark gray
HEX: #F1E3DD white gray
HEX: #283149 dark blue gray */


body{
    margin: 0 auto;
    text-align:center;
    color:#283149;
    font-family: 'Abel', sans-serif; 
    background-color: #F1E3DD;
}

header{
    margin: 0 auto;
    text-align: center;
}

nav{
    position: fixed;
    top:0;
    width:100%;
    background-color: #BCCAD6;
    height: 40px;
}

footer {
    text-align: left;
}

a{
    text-decoration: none;
    color: #283149;
    letter-spacing: 1px;
    font-weight: bold;
}

#menuBar{
    text-align:center;
    margin: 0 auto;
    width:600px;
}

.menuBar{
    margin: 0;
    width:90%;
    text-align:center;
}

.menuBar li{
    list-style: none;
    margin: 0 20px;
    padding:10px;
    float: left;
}

h1{
    margin-top:60px;
    
}

section{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

h2{
    text-align: left;
    padding:5px;
    margin-left:20px;
}

.explanation{
    width:92%;
    padding:2%;
    margin-left:2%;
    height:auto;
    /* background-color: #8D9DB6; */
    color: #283149;
    border: 1px dashed #8D9DB6;
    text-align: left;
}

.container{
    display:flex;
    margin:0 auto;
}

.code{
    width:40%;
    padding:2%;
    margin:2%;
    background-color: black;
    height: auto;
    overflow: scroll;
    height: 200px;

    /*Border terminal*/
    border: 2px solid #BCCAD6;
    border-style: inset;
    border-radius: 5px;

    /* Special font to code */
    color:white;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
}

.output{
    text-align: initial;
    flex: 50%;
    padding:2%;
    margin:2%;
    border: 1px dashed #8D9DB6;
    background-color: white;
}

.inlinecode {
    background-color: black;
    /*Border terminal*/
    border: 1px solid #BCCAD6;
    padding: 2px;

    border-radius: 5px;
    /* Special font to code */
    color:white;
    font-size: 80%;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
}


/* position part */
div.static{
    position: static;
    border: 3px solid #8D9DB6;
    }

    div.relative{
        position: relative;
        left: 30px;
        border: 3px solid #8D9DB6;
        }

    div.fixed{
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #8D9DB6;
    }
        
    .relative2 {
        position: relative;
        width: 400px;
        height: 200px;
        border: 3px solid #8D9DB6;
        }
              
        div.absolute {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: 100px;
        border: 3px solid #8D9DB6;
        }


        







